<label class="w-full input input-lg rounded-full! text-gray-500! text-[16px]! bg-white!">
  <input
    [id]="id"
    type="text"
    [formControl]="control"
    [placeholder]="labelText"
    mask="0*"
    inputmode="numeric"
    [allowNegativeNumbers]="false"
    matInput
    (blur)="onBlur()"
    autocomplete="on"
    [ngClass]="{
      'input-error': !control!.valid && control.touched
    }"
    [readOnly]="readonly"
  />
  @if (isRequired) {
  <span class="text-red-500! text-2xl">*</span>
  }
</label>

@if (control!.errors?.['required'] && control.touched) {
<small class="text-red-500!">Este campo es requerido.</small>
} @if (control!.errors?.['pattern'] && control.touched) {
<small class="text-red-500!">Valor no válido.</small>
}
